@model NetCoreBlog.Entity.DTOs.Auths.ResetPasswordDto;
@{
    Layout = null;
}
<style>
    .form-gap {
        padding-top: 70px;
    }

    .panel {
        border-radius: 10px;
        overflow: hidden;
    }

    .panel-body {
        padding: 40px;
    }

    .input-group-addon {
        background-color: #f5f5f5;
        border: 1px solid #ddd;
        border-radius: 5px 0 0 5px;
    }

    .form-control {
        border-radius: 0 5px 5px 0;
        border: 1px solid #ddd;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        border-radius: 5px;
        font-size: 16px;
    }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #004085;
        }

    .alert-success {
        background-color: #d4edda;
        color: #155724;
        border-radius: 5px;
        padding: 15px;
    }

    .alert-danger {
        background-color: #f8d7da;
        color: #721c24;
        border-radius: 5px;
        padding: 15px;
    }

    .go-back-btn {
        margin-top: 15px;
        text-align: center;
    }
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<div class="form-gap"></div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <h2 class="text-center">Şifre Yenileme</h2>
                        <p>Şifre yenileme bağlantısını gönderebilmemiz için e-posta adresinize ihtiyacımız var.</p>
                        <div class="panel-body">
                            @if (ViewBag.State == null)
                            {
                                <form asp-action="PasswordReset" role="form" autocomplete="off" class="form" method="post">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                            <input id="email" asp-for="Email" placeholder="Email " class="form-control" type="email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Şifreyi Sıfırla" type="submit">
                                    </div>
                                    <div class="go-back-btn">
                                        <a asp-controller="Auth" asp-action="Login" class="btn btn-lg btn-primary btn-block">Önceki Sayfaya Dön</a>
                                    </div>
                                    <input type="hidden" class="hide" name="token" id="token" value="">
                                </form>
                            }
                            else
                            {
                                if (ViewBag.State)
                                {
                                    @:<div class="alert alert-success">Şifre sıfırlama talebiniz için e-posta adresinize şifre sıfırlama mail bağlantısı gönderilmiştir. E-Mail adresinizi kontrol ediniz.</div>
                                }
                                else
                                {
                                    @:<div class="alert alert-danger">Böyle bir e-posta adresi bulunmamaktadır.</div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
